$card-row-float: left;
$card-row-margin: 10px;

$card-title-height: 100px;

$card-main-height: 300px;
$card-main-width: 230px;

#card-row {
  float: $card-row-float;
  margin: $card-row-margin
}

.card-title {
  height: $card-title-height;
}

.card-main {
  height: $card-main-height;
  width: $card-main-width;
}
