#calm-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60% !important;
  top: 32% !important;
  text-align: center;
  font-size: 44px;
  font-family: Primary-DINPro, sans-serif;
  font-weight: 500;
}
