html, body, #app {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

#landing {
  background-image: url("../../../assets/images/space05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#landing-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60% !important;
  top: 40% !important;
  text-align: center;
  color: white;
  font-family: lato, Verdana, Geneva, Tahoma, sans-serif;
}

#calm-abbreviation {
  font-size: 58px;
  font-weight: 900;
}

#calm {
  font-size: 30px;
  font-weight: 500;
}

.btn {
  color: blue;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: verdana;
  font-size: 1em;
}

.btn-contribute {
  background: white;
}

#contribute-button {
  padding: 20px;
}

.btn {
  color: blue;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: verdana;
  font-size: 1em;
}

#search-area {
  margin: 20px 20px;
  color: white;
  width: 30%;
  position: absolute;
}

#search-bar {
  border: 1px solid white;
  font-size: 12px;
  padding: 10px;
  outline: none;
  width: 80%;
  height: 20px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #3a3a3a;
}

#logo-bar {
  background-image: url("../../../assets/images/andela-logo.jpg");
  height: 35px;
  width: 20%;
  padding: 12px;
  padding-left: 30px;
  padding-bottom: 13px;
  padding-top: 11.5px;
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  #search-area {
    margin: 15px 8px;
    width: 50%;
  }
}
