html,
body,
#app {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

#landing {
  background-image: url("../../../assets/images/space05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#landing-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60% !important;
  top: 40% !important;
  text-align: center;
  color: white;
  font-family: lato, Verdana, Geneva, Tahoma, sans-serif;
}

#calm-abbreviation {
  font-size: 58px;
  font-weight: 900;
}

#calm {
  display: block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.dropdown-content a {
  text-decoration: none;
  font-size: 0.8em;
  width: 120px;
}

.dropdown-content div:hover {
  background: #efefef;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div {
  color: #333333;
  background: white;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: none;
  margin: 0 auto;
  width: 140px;
  position: relative;
  margin-top: 10px !important;
}

.btn {
  color: blue;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: verdana;
  font-size: 1em;
}

#btn-contribute {
  background: white;
  margin: 0 auto;
}

#contribute-button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

#search-area {
  margin: 20px 20px;
  color: white;
  width: 30%;
  position: absolute;
}

#search-bar {
  border: 1px solid white;
  font-size: 12px;
  padding: 10px;
  outline: none;
  width: 80%;
  height: 20px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #3a3a3a;
}

#logo-bar {
  height: 35px;
  background-image: url("../../../assets/images/andela-logo.jpg");
  width: 20%;
  padding: 12px;
  padding-left: 30px;
  padding-bottom: 13px;
  padding-top: 11.5px;
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  #search-area {
    margin: 15px 8px;
    width: 50%;
  }
}
