.forms-page {
  padding: 0px 100px;
  font-family: Primary-DINPro !important;
}

.go-back {
  margin: 40px 0px;
}

.contribute-new-header {
  padding: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 35px;
}

.idea-form {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.idea-form-content {
  width: 600px;
}
