$colors: (
  primary: #365edb,
  secondary: #58e2c2,
  danger: '',
  light: #fff,
  dark: #000
);

$contributionColors: (
  idea: #000,
  resource: #657be4,
  skill: #fc3e36
);

$grey: (
  100: #fdfdfd,
  200: #e3e3e3,
  300: #d8d8d8,
  400: #9b9b9b,
  500: #2e3234,
);
